we basically handle ordinal category variable by ranking them accordingly

In [1]:
import pandas as pd
import datetime

In [3]:
df_today=datetime.datetime.today()
df_list =[df_today - datetime.timedelta(days=x)for x in range(0,10)]
df=pd.DataFrame(df_list)
df.columns=['Day']
df

                         Day
0 2021-05-31 12:53:42.264776
1 2021-05-30 12:53:42.264776
2 2021-05-29 12:53:42.264776
3 2021-05-28 12:53:42.264776
4 2021-05-27 12:53:42.264776
5 2021-05-26 12:53:42.264776
6 2021-05-25 12:53:42.264776
7 2021-05-24 12:53:42.264776
8 2021-05-23 12:53:42.264776
9 2021-05-22 12:53:42.264776

In [15]:
df['Day_of_week']=df['Day'].dt.day_name()
df.head(10)

                         Day Days_of_week Day_of_week  Rank
0 2021-05-31 12:53:42.264776       Monday      Monday     1
1 2021-05-30 12:53:42.264776       Sunday      Sunday     7
2 2021-05-29 12:53:42.264776     Saturday    Saturday     6
3 2021-05-28 12:53:42.264776       Friday      Friday     5
4 2021-05-27 12:53:42.264776     Thursday    Thursday     4
5 2021-05-26 12:53:42.264776    Wednesday   Wednesday     3
6 2021-05-25 12:53:42.264776      Tuesday     Tuesday     2
7 2021-05-24 12:53:42.264776       Monday      Monday     1
8 2021-05-23 12:53:42.264776       Sunday      Sunday     7
9 2021-05-22 12:53:42.264776     Saturday    Saturday     6

In [16]:
weekday_map={'Monday':1,'Tuesday':2,'Wednesday':3,'Thursday':4,'Friday':5,'Saturday':6,'Sunday':7}
df['Rank']=df.Day_of_week.map(weekday_map)
df.head(10)

                         Day Days_of_week Day_of_week  Rank
0 2021-05-31 12:53:42.264776       Monday      Monday     1
1 2021-05-30 12:53:42.264776       Sunday      Sunday     7
2 2021-05-29 12:53:42.264776     Saturday    Saturday     6
3 2021-05-28 12:53:42.264776       Friday      Friday     5
4 2021-05-27 12:53:42.264776     Thursday    Thursday     4
5 2021-05-26 12:53:42.264776    Wednesday   Wednesday     3
6 2021-05-25 12:53:42.264776      Tuesday     Tuesday     2
7 2021-05-24 12:53:42.264776       Monday      Monday     1
8 2021-05-23 12:53:42.264776       Sunday      Sunday     7
9 2021-05-22 12:53:42.264776     Saturday    Saturday     6